
    <link href="../assets/css/cover.css" rel="stylesheet">


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">

          </div>

          <div class="inner cover">
            <h1 class="cover-heading">DFW Coding School Collective</h1>
            <p class="lead">Choose your adventure.</p>
            <p class="lead">
              <a href="#!/marketing" class="btn btn-lg btn-default">I want to post a project.</a>

            <class="lead">
              <a href="#!/developer" class="btn btn-lg btn-default">I'm a Bootcamp Alumni.</a>
            </p>
          </div>

          <div class="mastfoot">

          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
