
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Justified Nav Template for Bootstrap</title>


  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">

        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#!">Home</a></li>
            <li><a href="#!">Project Tips</a></li>
            <li><a href="#!">Our Developers</a></li>
            <li><a href="#!">Pricing</a></li>
            <li><a href="#!">About</a></li>
            <li><a href="#!">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>DFW Coding School Collective</h1>
        <p class="lead">Connecting DFW with local affordable developers.</p>
        <h5>Maybe you have the next great app idea, need a business application to enhance your workflow, or need a custom online storefront...but where do you start? You don't have the technical skills and hiring a seasoned developer is out of your price range. You've tried other freelance sites, but you need that face-to-face interaction to manage the project.</h5>

        <h5>Welcome to DFW C.S.C., where we connect you with local Coding School Alumni who can bring you project to life - for a <em>fraction</em> of what it could cost hiring other freelance or seasoned developers. Best of all, our developers are local and you can meet them face-to-face prior to and during your projects development. Meet Local. Hire Local. Code Local.</h5>

        <br>

        <p><a class="btn btn-lg btn-success" href="#!/loginreg" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h3>Write A Project Scope</h3>
          <p>You fill out details of your project on our Project Scope form. The more detailed your scope is, the more your project is likely to get picked up by one of our local, affordable developers.</p>
          <p><a class="btn btn-primary" href="#!/" role="button">Project Scope Examples</a></p>
        </div>
        <div class="col-lg-4">
          <h3>Post to our Developer Board</h3>
          <p>For a low fee of $50, you post your Project Scope to our Developer Board. Our local Coding Schoool Alumni's will individually review and determine if the project is right for them.</p>
          <p><a class="btn btn-primary" href="#!/" role="button">Learn about our developers</a></p>
       </div>
        <div class="col-lg-4">
          <h3>Negotiation - On Your Terms</h3>
          <p>If your project is picked up, the Developer - or Developers - will contact you by email. You negotiate terms and scope directly with them. No middleman. No hidden fees. Hire local. Meet local. Code local.</p>
          <p><a class="btn btn-primary" href="#!" role="button">See competitors prices</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>2016 Dojo Does Dallas, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
